syn/*
!Manifest.py
!add_files.tcl
!transceiver.xdc
sim/modelsim/*
!Manifest.py
!sin_value.dat
!neg_sin_value.dat
!vsim.do
sim/vivado/*
!Manifest.py
!sin_value.dat
!neg_sin_value.dat
sim/iverilog/*
!Manifest.py
!sin_value.dat
!neg_sin_value.dat
sim/cocotb/*
!test.py
!transceiver_tb.py
platform/xilinx/clk_wiz/*
!clk_wiz.xci
myenv