syn/*
!Manifest.py
!add_files.tcl
!transceiver.xdc
top/sim/modelsim/*
!Manifest.py
!sin_value.dat
!neg_sin_value.dat
!vsim.do
top/sim/vivado/*
!Manifest.py
!sin_value.dat
!neg_sin_value.dat
top/sim/iverilog/*
!Manifest.py
!sin_value.dat
!neg_sin_value.dat
platform/xilinx/clk_wiz/*
!clk_wiz.xci