syn/*
!Manifest.py
!add_files.tcl
!transceiver.xdc
!sin_gen.py
sim/modelsim/*
!Manifest.py
!wave.do
sim/vivado/*
!Manifest.py
!xsim.tcl
sim/cocotb/*
!transceiver_tb.py
!test.py
!wave.do
platform/xilinx/clk_wiz/*
!clk_wiz.xci
myenv
*.drawio
*.v.bak
*.vcd
transceiver